<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operation_state.name %>
</p>

<%= link_to 'Edit', edit_operation_state_path(@operation_state) %> |
<%= link_to 'Back', operation_states_path %>
